#header {
    min-width: 100%;
    min-height: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.header-back-icon {
    background-color: var(--background-circle-color);
    border-radius: 50%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    box-shadow: 0px 0px 30px 40px var(--background-circle-color);
}

#header-back-first {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15%;
    left: 25%;
    opacity: 0.4;
}

#header-back-second {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 80%;
    left: 20%;
    opacity: 0.6;
}

#header-back-third {
    width: 160px;
    height: 160px;
    position: absolute;
    top: calc(25vh);
    left: 65%;
    box-shadow: 0px 0px 120px 120px var(--background-circle-color);
    opacity: 0.9;
    z-index: 0;
}

#header-text {
    align-items: start;
    z-index: 2;
    position: absolute;
    left: 10%;
    top: calc(20vh);
}

#header p {
    color: var(--text-color);
    font-size: 120px; 
    font-family: var(--font-text);
    text-shadow: 4px 2px var(--third-color);
}

.colorChange {
    color: var(--secondary-color);
    font-size: 120px;
    text-shadow: 4px 2px var(--third-color);
}

#header-action {
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 60px;
    height: 60px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0px 0px 15px var(--secondary-color);
    transform: translate(-50%, -50%);
}

/* #header-action:hover {
    cursor: pointer;
} */

#header-action-icon {
    position: relative;
}

.header-action-icon {
    font-size: 25px;
    color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#icon-back {
    left: 40%;
}

#icon-forward {
    left: 60%;
}

#header-action:hover #icon-back{
    animation: iconBack 2s infinite;
}

#header-action:hover #icon-forward{
    animation: iconForward 2s infinite;
}

@keyframes rotating {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}
.rotating {
    animation: rotating 12s linear infinite;
}
@keyframes coloring {
    0% {
      fill: #fff;
    }
    35% {
      fill: #ffda2a;
    }
    75% {
      fill: #00d3b9;
    }
    100% {
      fill: #fff;
    }
}
.coloring {
    animation: coloring 12s linear infinite;
}

@media screen and (max-width: 500px) {
    #header {
        overflow-x: hidden;
    }
    #header-back-first {
        width: 45px;
        height: 45px;
        top: 13%;
        left: 20%;
    }
    #header-back-second {
        width: 40px;
        height: 40px;
        bottom: 15%;
        left: 18%;
    }
    #header-back-third {
        width: 45px;
        height: 45px;
        top: calc(35vh);
        right: 20%;
    }
    #header-text {
        top: calc(40vh);
    }
    #header p {
        font-size: 60px;
        text-shadow: 3px 2px var(--third-color);
    }
    #header-action {
        right: 45%;
        top: 90%;
        transform: rotate(90deg);
        width: 40px;
        height: 40px;
    }
    .colorChange {
        font-size: 60px;
    }
    .header-action-icon {
        font-size: 18px;
    }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
    #header-back-first {
        width: 40px;
        height: 40px;
        top: 11%;
        left: 18%;
    }
    #header-back-second {
        width: 40px;
        height: 40px;
        bottom: 13%;
        left: 15%;
    }
    #header-back-third {
        width: 55px;
        height: 55px;
        top: calc(35vh);
        right: 18%;
    }
    #header-text {
        top: calc(30vh);
    }
    #header p {
        font-size: 60px;
        text-shadow: 3px 2px var(--third-color);
    }
    .colorChange {
        font-size: 60px;
    }
    #header-action {
        width: 50px;
        height: 50px;
    }
    .header-action-icon {
        font-size: 20px;
    }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
    #header-back-third {
        width: 150px;
        height: 150px;
        top: calc(35vh);
    }
    #header p {
        font-size: 90px; 
    }
    .colorChange {
        font-size: 90px;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1400px) {
    #header-text {
        width: 80%;
    }
    #header p {
        font-size: 90px; 
    }
    
    .colorChange {
        font-size: 90px;
    }
}
@media screen and (min-width: 1401px) and (max-width: 2000px) {
    #header p {
        font-size: 100px; 
    }
    
    .colorChange {
        font-size: 100px;
    }
    #header-text {
        top: calc(25vh);
    }
}

@media screen and (min-width: 2001px) {
    #header-text {
        top: calc(30vh);
        left: 15%;
    }
}


/* --------------------- Animations ------------------------- */
@keyframes iconForward {
    0% {
        left: 60%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 60%;
    }
}
@keyframes iconBack {
    0% {
        left: 40%;
    }
    50% {
        left: 30%;
    }
    100% {
        left: 40%;
    }
}

@keyframes floatAbout1 {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(10%, -15%);
    }
    50% {
        transform: translateY(-10%, -15%);
    }
    75% {
        transform: translateY(-10%, 15%);
    }
    100% {
        transform: translateY(0%, 0%);
    }
}

@keyframes floatAbout2 {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(10%, 15%);
    }
    50% {
        transform: translateY(5%, 5%);
    }
    75% {
        transform: translateY(10%, 5%);
    }
    100% {
        transform: translateY(0%, 0%);
    }
}

@keyframes floatAbout3 {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(-5%, -10%);
    }
    50% {
        transform: translateY(-5%, -5%);
    }
    75% {
        transform: translateY(0%, -10%);
    }
    100% {
        transform: translateY(0%, 0%);
    }
}