#contact {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-image {
    width: 25%;
    height: 80%;
    border: 10px solid var(--secondary-color);
    border-radius: 10px;
    background-color: var(--text-color);
}

#contact-form {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#contact-form-title {
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 2rem;
    margin-bottom: 15%;
    transform: rotate(-10deg);
    text-shadow: 2px 1px var(--third-color);
}

#contact-form-title span {
    color: var(--secondary-color);
    text-shadow: 2px 1px var(--third-color);
}

.contact-input {
    width: 80%;
    height: 10%;
    padding: 0 2%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--third-color);
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 1.5rem;
    margin-bottom: 5%;
}

#contact-button {
    width: 80%;
    height: 10%;
    background-color: transparent;
    border: var(--third-color) 1px solid;
    border-radius: 10px;
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 1.5rem;
}

#contact-button:hover {
    cursor: pointer;
    border: var(--secondary-color) 1px solid;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--text-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-color);
}

@keyframes fadeRight {
    0% {
        right: -100%;
    }
    100% {
        right: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 500px) {
    #contact {
        width: 100%;
        min-width: auto;
        height: auto;
        margin: 20% 0;
    }
    #contact-image {
        display: none;
    }
    #contact-form {
        width: 90%;
        height: auto;
    }
    #contact-form-title {
        width: 70%;
        font-size: 2.5rem;
        text-shadow: 3px 1.5px var(--third-color);
        text-align: center;
    }
    .contact-input {
        width: 90%;
        height: auto;
        padding: 3% 2%;
        font-size: 1.3rem;
    }
    #contact-button {
        width: 90%;
        padding: 2% 0;
        margin-top: 5%;
    }
}