#contact {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20%;
}

#contact-image {
    width: 25%;
    height: 80%;
    border: 10px solid var(--secondary-color);
    border-radius: 10px;
    background-color: var(--text-color);
}

#contact-form {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#contact-form-title {
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 2rem;
    margin-bottom: 15%;
    transform: rotate(-10deg);
    text-shadow: 2px 1px var(--third-color);
}

#contact-form-title span {
    color: var(--secondary-color);
    text-shadow: 2px 1px var(--third-color);
}

.contact-input {
    width: 80%;
    height: 10%;
    padding: 0 2%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--third-color);
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 1.5rem;
    margin-bottom: 5%;
}

#contact-button {
    width: 80%;
    height: 10%;
    background-color: transparent;
    border: var(--third-color) 1px solid;
    border-radius: 10px;
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 1.5rem;
}

#contact-button:hover {
    cursor: pointer;
    border: var(--secondary-color) 1px solid;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--text-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-color);
}

@keyframes fadeRight {
    0% {
        right: -100%;
    }
    100% {
        right: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 500px) {
    #contact {
        width: 100%;
        min-width: auto;
        height: auto;
        margin: 20% 0;
    }
    #contact-image {
        display: none;
    }
    #contact-form {
        width: 90%;
        height: auto;
    }
    #contact-form-title {
        width: 70%;
        font-size: 2.5rem;
        text-shadow: 3px 1.5px var(--third-color);
        text-align: center;
    }
    .contact-input {
        width: 90%;
        height: auto;
        padding: 3% 2%;
        font-size: 1.3rem;
    }
    #contact-button {
        width: 90%;
        padding: 2% 0;
        margin-top: 5%;
    }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
    #contact-image {
        min-width: 260px;
        max-width: 260px;
        border-radius: 4px;
        height: 55%;
    }
    #contact-form {
        min-width: 360px;
        max-width: 360px;
        margin-left: 10%;
        height: 55%;
    }
    #contact-form-title {
        font-size: 1.6rem;
    }
    .contact-input {
        width: 100%;
        font-size: 1.1rem;
    }
    #contact-button {
        width: 90%;
        height: 8%;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    #contact-image {
        min-width: 300px;
        max-width: 300px;
        border-radius: 5px;
        height: 60%;
    }
    #contact-form {
        min-width: 320px;
        max-width: 320px;
        margin-left: 8%;
        height: 60%;
    }
    .contact-input {
        width: 100%;
        font-size: 1.2rem;
    }
    #contact-button {
        width: 90%;
        height: 8%;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    #contact-image {
        min-width: 320px;
        max-width: 320px;
        border-radius: 5px;
        height: 60%;
    }
    #contact-form {
        min-width: 350px;
        max-width: 350px;
        margin-left: 13%;
        height: 60%;
    }
    .contact-input {
        width: 100%;
        font-size: 1.1rem;
    }
    #contact-button {
        width: 90%;
        height: 9%;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1500px) {
    #contact-image {
        min-width: 350px;
        max-width: 350px;
        border-radius: 5px;
        height: 65%;
    }
    #contact-form {
        min-width: 375px;
        max-width: 375px;
        margin-left: 15%;
        height: 65%;
    }
    .contact-input {
        width: 100%;
        font-size: 1.2rem;
    }
    #contact-button {
        width: 90%;
        height: 9%;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1700px) {
    #contact-image {
        min-width: 400px;
        max-width: 400px;
        border-radius: 5px;
        height: 70%;
    }
    #contact-form {
        min-width: 450px;
        max-width: 450px;
        margin-left: 12%;
    }
    .contact-input {
        width: 100%;
        font-size: 1.2rem;
    }
    #contact-button {
        width: 90%;
        height: 8%;
    }
}

@media screen and (min-width: 1700px) and (max-width: 2000px) {
    #contact-image {
        min-width: 500px;
        max-width: 500px;
        border-radius: 6px;
        height: 70%;
    }
    #contact-form {
        min-width: 500px;
        max-width: 500px;
        margin-left: 13%;
    }
    .contact-input {
        width: 100%;
        font-size: 1.2rem;
    }
    #contact-button {
        width: 90%;
        height: 8%;
    }
}

@media screen and (min-width: 2000px) {
    #contact-image {
        min-width: 550px;
        max-width: 550px;
        border-radius: 6px;
        height: 65%;
    }
    #contact-form {
        min-width: 550px;
        max-width: 550px;
        margin-left: 15%;
    }
    .contact-input {
        width: 100%;
        font-size: 1.2rem;
    }
    #contact-button {
        width: 90%;
        height: 8%;
    }
}