#skills {
    min-width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skills-title {
    font-family: var(--font-text);
    font-size: 1.8rem;
    color: var(--secondary-color);
    transform: rotate(-90deg);
}

#skills-icons {
    width: 80%;
    height: 70%;
    position: relative;
}

#skills-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    color: var(--third-color);
    font-family: var(--text-font);
    font-size: 7rem;
    opacity: 0;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}