#skills {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20%;
}

#skills-title {
    font-family: var(--font-text);
    font-size: 1.8rem;
    color: var(--secondary-color);
    transform: rotate(-90deg);
}

#skills-icons {
    width: 80%;
    height: 70%;
    position: relative;
}

#skills-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    color: var(--third-color);
    font-family: var(--text-font);
    font-size: 7rem;
    opacity: 0;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 500px) {
    #skills {
        width: 100%;
        flex-direction: column;
        margin: 20% 0;
    }
    #skills-title {
        font-size: 1.8rem;
        transform: rotate(0);
    }
    #skills-icons {
        width: 90%;
        height: 70vh;
    }
    #skills-text {
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
    #skills-title {
        width: 100px;
        text-align: center;
        white-space: nowrap;
    }
    #skills-icons {
        width: 500px;
        height: 60%;
        position: relative;
    }
    #skills-text {
        font-size: 4rem;
    }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    #skills-title {
        width: 100px;
        text-align: center;
        white-space: nowrap;
    }
    #skills-icons {
        width: 600px;
        height: 60%;
        position: relative;
    }
    #skills-text {
        font-size: 4.8rem;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    #skills-title {
        width: 100px;
        text-align: center;
        white-space: nowrap;
    }
    #skills-icons {
        width: 700px;
        height: 65%;
        position: relative;
    }
    #skills-text {
        font-size: 5rem;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1500px) {
    #skills-title {
        width: 100px;
        text-align: center;
        white-space: nowrap;
    }
    #skills-icons {
        width: 800px;
        height: 70%;
        position: relative;
    }
    #skills-text {
        font-size: 5.3rem;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1700px) {
    #skills-title {
        width: 100px;
        text-align: center;
        white-space: nowrap;
    }
    #skills-icons {
        width: 950px;
        height: 65%;
    }
    #skills-text {
        font-size: 5.5rem;
    }
}

@media screen and (min-width: 1700px) and (max-width: 2000px) {
    #skills-title {
        width: 100px;
        text-align: center;
        white-space: nowrap;
    }
    #skills-icons {
        width: 1000px;
        height: 70%;
    }
    #skills-text {
        font-size: 6rem;
    }
}

@media screen and (min-width: 2000px) {
    #skills-title {
        width: 100px;
        text-align: center;
        white-space: nowrap;
    }
    #skills-icons {
        width: 1200px;
        height: 65%;
    }
    #skills-text {
        font-size: 6.5rem;
    }
}