#projects {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    /* margin-right: 20%; */
}

@media screen and (max-width: 500px) {
    #projects {
        position: relative;
        margin-right: 0%;
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }
}