.navbar-open-item {
    width: 100%;
    padding: 7% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}
.navbar-open-item p {
    font-size: 1.1rem;
    font-family: var(--font-text);
    color: var(--text-color);
}