#portfolio_header-quicklink {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

#portfolio_header-quicklink_box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, .5);
    padding: .5vh 5vw;
    padding: 0;
    align-items: center;
    cursor: pointer;
}

#portfolio_header-quicklink_box:hover {
    animation: changeBackground 1s forwards ease-in-out;
}

#portfolio_header-quicklink_box h3 {
    font-family: var(--font);
    font-size: 1.5rem;
    color: var(--main-text-color)
}

#portfolio_header-quicklink_box-icons {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    min-width: 10%;
    margin-left: 1vw;
}

.portfolio_header-quicklink_box_down {
    position: absolute;
    font-size: 1.5rem;
    color: var(--main-text-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio_header-quicklink_box:hover #portfolio_header-quicklink_box_back {
    animation: arrowMove 2s infinite ease-in-out;
}

@keyframes arrowMove {
    0% {
        top: 50%;
    }
    50% {
        top: 70%;
    }
    100% {
        top: 50%;
    }
}

@keyframes changeBackground {
    0% {
        background-color: white;
    }
    100% {
        background: var(--transparent-main-color);
    }
}

@media screen and (max-width: 3000px) {
    #portfolio_header-quicklink_box h3 {
        font-size: 2.5rem;
    }

    #portfolio_header-quicklink_box_down {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1600px) {
    #portfolio_header-quicklink_box h3 {
        font-size: 1.5rem;
    }

    #portfolio_header-quicklink_box_down {
        font-size: 1rem;
    }

    #portfolio_header-quicklink_box {
        padding: 1vh 3vw;
    }
}

@media screen and (max-width: 1000px) {
    #portfolio_header-quicklink_box h3 {
        font-size: 1.5rem;
    }

    #portfolio_header-quicklink_box_down {
        font-size: 1rem;
    }

    #portfolio_header-quicklink_box {
        padding: .5vh 9vw;
    }
}

@media screen and (max-width: 600px) {
    #portfolio_header-quicklink_box h3 {
        font-size: 1.5rem;
    }

    #portfolio_header-quicklink_box_down {
        font-size: 1.5rem;
    }

    #portfolio_header-quicklink_box {
        width: 100%;
        margin: 10px
    }

    #portfolio_header-quicklink_box:hover {
        transform: none;
    }
}

@media screen and (max-width: 300px) {
    #portfolio_header-quicklink_box h3 {
        font-size: 1rem;
    }

    #portfolio_header-quicklink_box_down {
        font-size: 1rem;
    }
}