#experience {
    min-width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#experience-title {
    font-family: var(--font-text);
    font-size: 1.8rem;
    color: var(--secondary-color);
    transform: rotate(-90deg);
}

#experience-info {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experience-info-section {
    width: 100%;
    font-family: var(--font-text);
    font-size: 1.5rem;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0;
}

.experience-info-section-title {
    display: flex;
    width: 100%;
    align-items: center;
}

.experience-info-section-title-icon {
    margin-right: 2%;
    color: var(--secondary-color);
    font-size: 1.7rem;
}

.experience-info-section-date {
    width: 30%;
    text-align: end;
}

.experience-info-break {
    width: 100%;
    height: 0.5%;
    background-color: var(--third-color);
}

@media screen and (max-width: 500px) {
    #experience {
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 20% 0;
    }
    #experience-title {
        transform: rotate(0);
        margin-bottom: 10%;
    }
    #experience-info {
        width: 80%;
    }
    .experience-info-section {
        font-size: 1.1rem;
        justify-content: flex-start;
    }
    .experience-info-section-title {
        display: flex;
        width: 65%;
        align-items: center;
    }
    .experience-info-section-title-icon {
        margin-right: 4%;
        font-size: 1.8rem;
    }
    .experience-info-section-date {
        width: 35%;
        text-align: end;
    }
    .experience-info-break {
        padding: 0.25% 0;
    }
}