#scrollbar {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

#scrollbar-track {
    width: 80%;
    height: 15%;
    background-color: var(--third-color);
    border-radius: 15px;
    overflow: hidden;
}

#scrollbar-track-tab {
    width: 10%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 15px;
}