#about {
    width: 200%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

#about-profile {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#about-profile-image {
    width: 250px;
    height: 250px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-bottom: 20%;
}

#about-profile-name p {
    font-family: var(--font-text);
    font-size: 1.8rem;
    color: var(--text-color);
}

#about-profile-name span {
    color: var(--third-color);
}

#about-desc {
    width: 50%;
    height: 70%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    #about {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-bottom: 20%;
    }
    #about-profile {
        width: 100%;
        flex-direction: column-reverse;
        padding: 20% 0;
    }
    #about-profile-image {
        margin-bottom: 0%;
        margin-top: 5%;
    }
    #about-profile-name p {
        font-size: 2.3rem;
    }
    #about-desc {
        width: 70%;
        height: auto;
        margin-left: 0;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    #about {
        width: 200%;
    }
    #about-profile {
        width: 50%;
    }
    #about-profile-image {
        width: 200px;
        height: 200px;
    }
    #about-desc {
        width: 60%;
        background-color: blue;
    }
}