@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Inria+Sans');

* {
  padding: 0;
  margin: 0;
}

:root {
  /* Header section  */
  --font: 'Roboto', sans-serif;
  --transparent-main-color: rgba(92, 51, 138, 0.3);
  --main-text-color: black;

  /* Skills section */
  --main-background-color: rgba(92, 51, 138, 1);

  /* About scetion */
  --secondary-background-color: rgb(161, 89, 243);

  /* New Colors */
  --main-color: rgba(0, 4, 17, 1);
  --secondary-color: rgba(102, 34, 204, 1);
  --third-color: rgba(83, 152, 190, 1);
  --text-color: rgba(224, 226, 219, 1);
  --font-text: 'Inria Sans', Inter;
}

body {
  font-family: 'podkova', sans-serif;
  /* background-color: red; */
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  height: 15px;
  border: 10px solid transparent;
}

::-webkit-scrollbar-track {
  background: var(--third-color);
  border-radius: 10px;
  border: 10px transparent solid;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 15px;
    border: 10px solid transparent;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    border: 10px transparent solid;
  }
}