* {
  padding: 0;
  margin: 0;
}

:root {
  /* Header section  */
  --font: 'podkova', sans-serif;
  --transparent-main-color: rgba(92, 51, 138, 0.3);
  --main-text-color: black;

  /* Skills section */
  --main-background-color: rgba(92, 51, 138, 1);

  /* About scetion */
  --secondary-background-color: rgb(161, 89, 243);
}

body {
  font-family: 'podkova', sans-serif;
  /* background-color: red; */
}

::-webkit-scrollbar {
  width: 20px;
  background: var(--secondary-background-color);
}

::-webkit-scrollbar-track {
  background: white;
  border: 1px solid var(--secondary-background-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-background-color);
  /* background: var(--secondary-background-color); */
  border: 1px solid var(--secondary-background-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}